{% extends "single_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "administration_frontend_user" %}

{% block single_content %}
    <p>
        <a class="btn btn-secondary" href="{{ path("administration_frontend_user_new") }}">
            {{ "new.title"|trans }}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "full_name"|trans({}, "trait_person") }}</th>
            <th>{{ "email"|trans({}, "trait_user") }}</th>
            <th>{{ "can_login"|trans({}, "trait_user") }}</th>
            <th>{{ "last_login"|trans({}, "trait_user") }}</th>
            <th class="minimal-width"></th>
        </tr>
        </thead>
        <tbody>

        {% for frontendUser in doctors %}
            <tr>
                <td>{{ frontendUser.fullName }}</td>
                <td>{{ frontendUser.email }}</td>
                <td>
                    {{ frontendUser.canLogin|booleanFormat }}
                    <br/>
                    <a href="{{ path("administration_frontend_user_toggle_can_login", {"frontendUser" : frontendUser.id}) }}">
                        {{ "toggle_login_enabled.change"|trans }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary"
                       href="{{ path("administration_frontend_user_edit", {"frontendUser" : frontendUser.id}) }}">
                        <i class="fal fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}